body {
    font-family: gibson;
    font-size: 12px;
    color: #999;
    background-color: #f2f1f0;
}
#login_page{
    width: 400px;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#logo{
    margin-left: 20px;
    margin-bottom: 12px;
}

#login_window {
    background-color: #fff;
    border-radius: 8px;
}

#login_window_form{
    height: 250px;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#login_window_form_in_text{
    margin-bottom: 8px;
    padding-left: 24px;
}

#login_window_form_in_more{
    margin-top: 8px;
    padding-left: 24px;
}

.form{
    display:block;
}

.iconInForm{
    margin-right: 5px;
}

#login_window_form_in{
    padding-top: 32px;
    padding-right: 16px;
}

#login_window_form_in_email{
    display:inline
}

.login_window_form_in_btn{
    margin-top: 5px;
}

#femail, #fpassword {
    width: 200px;
    margin-bottom: 4px;
}

.inputText1{
    background-color: #F7F7F7;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    color: currentColor;
    font-family: gibson;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    height: 25px;
}

.inputText1:focus{
    outline: none;
    border-bottom: 1px solid #3f51b5; 
    box-shadow: 0 1px 0 0 #3f51b5;
    transition: border-bottom 0.2s;
    transition: box-shadow 0.2s;
}

.inputText1::placeholder{
    color: #99999980;
    font-style: italic; 
}

.inputText1:hover{
    background-color: #e0ecf4;
}

#fbutton{
    margin-left: 17px;
    margin-top: 5px;
}

.inputButton1{
    background-color: #1989d6;
    border-radius: 15px;
    color: #fff;
    font-family: gibson;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    border: none;
    transition: all 0.2s;
    padding-left: 12px;
    width: 210px;
    height: 30px;
}

.inputButton1:hover{
    background-color: #2accf9;
}

#login_window_newuser{
    height: 60px;
    display: flex; /*Wlasciwosc pozwalajaca na manipulacje elementami wewnatrz*/
    align-items: center; /*Wysrodkuje elementy w pionie*/
    justify-content: center; /*Wysrodkuje elementy w poziomie   */
    
}
svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    fill: currentColor;
    padding-bottom: 2px;
    margin-left: -8px;

}

a:link, a:visited {
    color: #999;
}

a:hover{
    color: #2accf9;
    transition: color .2s;
}

.color {
 color: royalblue;
 cursor: pointer;
}